[submodule "env-dzen"]
	path = env-dzen
	url = git@github.com:hicolour/env-dzen.git
[submodule "env-xmonad"]
	path = env-xmonad
	url = git@github.com:hicolour/env-xmonad.git
[submodule "env-mc"]
	path = env-mc
	url = git@github.com:hicolour/env-mc.git
[submodule "env-roxterm"]
	path = env-roxterm
	url = git@github.com:hicolour/env-roxterm.git
[submodule "env-dunst"]
	path = env-dunst
	url = git@github.com:hicolour/env-dunst.git
