[submodule "env-dzen"]
	path = env-dzen
	url = git@github.com:hicolour/env-dzen.git
[submodule "env-xmonad"]
	path = env-xmonad
	url = git@github.com:hicolour/env-xmonad.git
[submodule "env-roxterm"]
	path = env-roxterm
	url = git@github.com:hicolour/env-roxterm.git
